@font-face 
    font-family: 'Gilroy-medium'
    src: url("../../fonts/Gilroy/gilroy-medium.woff")
    src: url("../../fonts/Gilroy/gilroy-medium.woff2")
    src: url("../../fonts/Gilroy/gilroy-medium.eot")
    font-style: normal
    font-display: swap




@font-face 
    font-family: 'Gilroy-bold'
    src: url("../../fonts/Gilroy/gilroy-bold.woff")
    src: url("../../fonts/Gilroy/gilroy-bold.woff2")
    src: url("../../fonts/Gilroy/gilroy-bold.eot")
    font-style: normal
    font-display: swap


@font-face 
    font-family: 'Gilroy-thin'
    src: url("../../fonts/Gilroy/gilroy-thin.woff")
    src: url("../../fonts/Gilroy/gilroy-thin.woff2")
    src: url("../../fonts/Gilroy/gilroy-thin.eot")
    font-style: normal
    font-display: swap


// Inter

@font-face 
    font-family: 'Inter'
    src: url('../fonts/Inter-Bold.ttf')
    font-weight: 700